<div class="wrapper">

    <!-- Container -->
    <div class="sideNav">
        <!-- Navigation -->
        <nav class="main-nav">
            <div class="navHeader">
                <div id="edit" class="editButton" title="Edit mode">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                <div class="title">
                    <i class="fa fa-home"></i> Smart Home</div>
                <div id="add" class="addButton options" title="Add">
                    <i>+</i>
                </div>
            </div>
            <div class="group">
                <div class="groupName">
                    <i class="fa fa-lightbulb-o"></i> Lights
                </div>
                <div class="groupLights">
                    {{!-- <a href="javascript:;">Home</a>

                    <a href="javascript:;">About</a>

                    <a href="javascript:;">Contacts</a> --}}
                </div>
            </div>
            <div class="group">
                <div class="groupName">
                    <i class="fa fa-cube"></i> Sensors
                </div>
                <div class="groupSensors">
                    {{!-- <a href="javascript:;">Home</a>

                    <a href="javascript:;">About</a> --}}
                </div>
        </nav>
        </div>

        <div class="container">
            <div class="sensor temp">
                <div class="sensorName">
                    <i class="fa fa-thermometer-full"></i>
                </div>
                <div class "sensorValue tempVal" id="tempVal1"> </div> &#8451;
            </div>

            <div class="sensor hum">
                <div class="sensorName">
                    <i class="fa fa-tint"></i>
                </div>
                <div class "sensorValue humVal" id="humVal1"> </div> %
            </div>
            <div class="homeImage">
                {{!-- <img src="images/house_plan.png" alt=""> --}}
                <div class="house-plan-cointainer">
        <div class="row  align-items-center ">
            <div class="col-sm-6 col-lg-9 mx-auto text-center nxs">
                <img id="housePlan" src="/images/house_plan.png">

                <div class="lightsKitchen 1 circle-text position0">
                    <div>
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                </div>
                <div class="lightsDiningroom 2 circle-text position1">
                    <div>
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                </div>
                <div class="lightsBathroom 3 circle-text position2">
                    <div>
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                </div>
                <div class="lightsBedroom 4 circle-text position3">
                    <div>
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                </div>
                <div class="lightsLivingroom 5 circle-text position4">
                    <div>
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                </div>

                <div id="draggable3" class="circle-text draggable ui-widget-content">
                    <div>
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
            </div>
        </div>

    </div>
    <!-- Wrapper Ends -->