<div class="wrapper">

    <!-- Container -->
    <div class="sideNav">
        <!-- Navigation -->
        <nav class="main-nav">
            <div class="navHeader">
                <div id="edit" class="editButton" title="Edit mode">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                <a href="/">
                    <div class="title">
                        <i class="fa fa-home"></i> Smart Home</div>
                </a>
                <div id="add" class="addButton options" title="Add">
                    <i>+</i>
                </div>
            </div>
            <div class="group">
                <div class="groupName">
                    <i class="fa fa-lightbulb-o"></i> Lights
                </div>
                <div class="groupLights">
                    {{!--
                    <a href="javascript:;">Home</a>

                    <a href="javascript:;">About</a>

                    <a href="javascript:;">Contacts</a> --}}
                </div>
            </div>
            <div class="group">
                <div class="groupName">
                    <i class="fa fa-cube"></i> Sensors
                </div>
                <div class="groupSensors">
                    {{!--
                    <a href="javascript:;">Home</a>

                    <a href="javascript:;">About</a> --}}
                </div>
        </nav>
        </div>

        <div class="container">
            <div class="sensor temp">
                <div class="sensorName">
                    <i class="fa fa-thermometer-full"></i>
                </div>
                <div class "sensorValue tempVal" id="tempVal1"> </div> &#8451;
            </div>

            <div class="sensor hum">
                <div class="sensorName">
                    <i class="fa fa-tint"></i>
                </div>
                <div class "sensorValue humVal" id="humVal1"> </div> %
            </div>
            <div class="homeImage">
                <div class="relative">
                    <img src="images/house_plan.png" class="relative">
                    <div class="lightsKitchen 1 absolute"    style="top: 10%; left: 12%; width: 30%; height: 30%;"><div class="planText">KITCHEN</div></div>
                    <div class="lightsBathroom 3 absolute"   style="top: 10%; left: 45%; width: 30%; height: 20%;"><div class="planText">BATHROOM</div></div>
                    <div class="lightsBedroom 4 absolute"    style="top: 35%; left: 63%; width: 25%; height: 30%;"><div class="planText">BEDROOM</div></div>
                    <div class="lightsLivingroom 5 absolute" style="top: 45%; left: 12%; width: 30%; height: 35%;"><div class="planText">LIVING ROOM</div></div>
                    <div class="lightsDiningroom 2 absolute" style="top: 40%; left: 45%; width: 15%; height: 30%;"><div class="planText">DINING ROOM</div></div>
                </div>
            </div>
        </div>

    </div>
    <!-- Wrapper Ends -->