:root {
    --bgColor: #27282A;
    --hoverColor: #363B3F;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --sideNavWidth: 300px;
}

html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light);
}

body {
    margin: 0;
    background: #fff;
    /* background-color: var(--bgColor); */
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
}

.sideNav {
    width: var(--sideNavWidth);
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: var(--bgColor);
    color: white;
    grid-template-columns: minmax(500px, 200px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sideNav .main-nav {
    display: grid;
    grid-template-rows: 1fr auto;
}

/* NAVHEADER */
.sideNav .main-nav .navHeader{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
}

.sideNav .main-nav .navHeader > div{
    margin: auto;
}
.sideNav .main-nav .navHeader > div:hover{
    cursor: pointer;
}

.sideNav .main-nav .navHeader div > i:hover{
    font-size: 1.1em;
    font-weight: bold;
}

.sideNav .main-nav .navHeader .title{
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 2px dashed white;
    font-weight: bold;
}
.sideNav .main-nav .navHeader .title:hover{
    font-size: 1.1em;
}
.sideNav .main-nav .navHeader .editButton{
    font-size: 2em;
    color: greenyellow;
}
.sideNav .main-nav .navHeader .addButton{
    font-size: 2em;
    display: none;
}

/* NAVHEADER END */

/* GROUP */
.sideNav .main-nav .group{
    display: grid;
    grid-template-rows: 1fr;
}

.sideNav .main-nav .group .groupName{
    padding: 10px;
    text-align: left;
    background-color: rgb(40, 159, 233);
}
.sideNav .main-nav .group div a{
    display: block;
    padding: 7px 7px 7px 2px;
    text-decoration: none;
    color: white;
}
.sideNav .main-nav .group  a:hover{
    text-decoration: none;
    color: white;
    background-color: var(--hoverColor);
}

.sideNav .main-nav .group a:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.sideNav .main-nav .group div a i{
   margin: auto 10px;
}
.sideNav .main-nav .group div a div{
    display: inline-block;
 }

.notResponded{
    
}

.activeLight{ 
    background-color: #ffe63e !important;
    color: #27282A !important;
}

.activeLight:hover{ 
background-color: #fddf1c !important;
}
/* GROUP END */


/* ******* RIGHT SIDE/HOUSE PLAN ******** */
.container {
    color: black;
    margin: auto auto;
    padding: 10px 10px;
    display: grid;
    grid-gap: 5px;
    background-color: white;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
} 

.container .homeImage {
    margin: auto auto;
    grid-column: 1/4;
    grid-row: 2/3;
}

.container .homeImage > img {   
    width: 50vw;
    height: auto;
    max-width: 100%;
    padding: 0px 40px;
}
.container div{
    margin: auto auto;
}
.container div.sensor{
    font-size: 1.5em;
    color:white;
    padding: 10px 30px;
    margin: 0;
    border-radius: 10px;
    background-color: var(--bgColor);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container div.sensor div{
    display: inline;
}
.container div.sensor div i{
    font-size: 1.5em;
    margin-right: 5px;
}

/* HOME PLAN */
div.relative {
    position: relative;
    width: 50vw;
    color: white;
    /* border: 3px solid var(--bgColor); */
} 
div.relative > img {
    width: 50vw;
    position: relative;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

div.absolute {
    position: absolute;
    background-color: var(--bgColor);
    opacity: 0.5;
}
div.absolute:hover {
    background-color: var(--hoverColor);
}
div.absolute div.planText {
    position: absolute;
    top: 50%; left: 0; bottom: 0; right: 0;
    font-size: 1vw;
    text-transform: uppercase;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* MEDIA QURIES */
@media screen and (max-width: 800px)  {
    .sideNav {
        width: 100vw;
    }

    /* HOME PLAN HIDE */
    .container {
        display: none;
    }

        /* GROUP */
    .sideNav .main-nav .group{
        display: grid;
        grid-template-rows: 1fr;
        overflow: scroll;
        background-color: var(--bgColor);
    }

    .sideNav .main-nav .group .groupName{
        padding: 10px;
        text-align: left !important;
        background-color: rgb(40, 159, 233);
    }

    .sideNav .main-nav .group div.groupLights{
        display: grid;
        grid-template-columns: 1fr 1fr;
     }
     .sideNav .main-nav .group div.groupSensors{
        display: grid;
        grid-template-columns: 1fr 1fr;
     }

    .sideNav .main-nav .group div a{
        display: inline-block;
        padding: 30px 30px;
        margin: 5px;
        text-decoration: none;
        text-align: center;
        color: white;
        border: 1px solid black;
        background-color: var(--bgColor);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .sideNav .main-nav .group  a:hover{
        text-decoration: none;
        color: white;
        background-color: var(--hoverColor);
    }

    .sideNav .main-nav .group a:before {
        display: none;
    }

    .sideNav .main-nav .group div a i{
        display: block;
        margin: auto 5px;
        text-align: center;
    
    }
    .activeLight{ 
        background-color: #ffe63e !important;
        color: #27282A !important;
    }

    .activeLight:hover{ 
        background-color: #fddf1c !important;
    }

    label.switch {
        margin: 0;
        margin-left: 20px;

    }
    /* GROUP END */


}

@media screen and (min-width: 800px) {
    
}