body {
  margin: 0px;
  padding: 0px;
  background: #fff;
  height: 100vh !important;
  /* background: #181c20; */
}
/* Side menu */
.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #27282A;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
  }
/* SideMenu header */
.nav-side-menu .navHeader {
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}
.nav-side-menu .navHeader div {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    clear: both;
    padding: 5px 5px;
}
.nav-side-menu .navHeader div.title{
    font-size: 0.9rem;
    padding: 9px 9px;
    border: 2px dashed white;
}
.nav-side-menu .navHeader div.title a{
  text-decoration: none;
  color: white;
}
.nav-side-menu .navHeader div.title a:hover{
  font-weight: bold;
}
#edit:hover, #add:hover, #save:hover{
  font-weight: bold;
  cursor: pointer;
}
/* Header ends */
  .nav-side-menu .toggle-btn {
    display: none;
  }
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
  }
  .nav-side-menu ul :not(collapsed) .arrow:before,
  .nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .nav-side-menu ul .active,
  .nav-side-menu li .active {
    background-color: #2185C5;
  }
  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active {
    color:  rgb(26, 98, 143);
  }
  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a {
    color:  rgb(26, 98, 143);
  }
  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #27282A;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
  }
  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover {
    background-color: #363B3F;
  }
  .nav-side-menu ul .sub-menu li:before,
  .nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .nav-side-menu li {
    padding-left: 0px;
    border-bottom: 1px solid #23282e;
  }
  .nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
  }
  .nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
  }
  .nav-side-menu li:hover {
    background-color: rgb(40, 159, 233);
  }
  .container {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 300px;
    margin-right: auto;
    margin-left: auto;
}
  #housePlan {
    max-width: 100%;
    /* min-width: 700px; */
    display: block;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .house-plan-cointainer {
    
    margin-left: 300px;
    overflow: scroll;
  }
  .house-plan-cointainer .row {
    height: 100vh!important;
    margin-left: 300px;
    padding: 0;
    margin: 0;
  }
  .nxs {
    position: relative; 
  }
  .circle-text {
    width:10%;
    position: absolute;
    cursor: pointer;
    opacity: .8;
  }
  .position0 {
    top: 24%;
    left: 25%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    
  }
  .position1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .position2 {
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .position3 {
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .position4 {
    top: 65%;
    left: 25%;
    transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
  }
  .circle-text:after {
      content: "";
      display: block;
      width: 100%;
      height:0;
      padding-bottom: 100%;
      background: #555; 
      -moz-border-radius: 50%; 
      -webkit-border-radius: 50%; 
      border-radius: 50%;
  }
  .activeLight::after, .nav-side-menu ul .sub-menu li.activeLight{ 
    background-color: #ffe63e !important;
  }
  .nav-side-menu ul .sub-menu li.activeLight a {
    color: #000 !important;
  }
  .circle-text div {
      float:left;
      width:100%;
      padding-top:50%;
      line-height:1em;
      margin-top:-0.5em;
      text-align:center;
      color:white;
      font-size: 2em;
  }
  .draggable {
    padding: 0.5em;
    float: left;
    margin: 0 10px 10px 0;
}
#draggable3 {
    cursor: move;
}
#containment-wrapper {
    width: 200px;
    height:200px;
    border:1px solid #000;
    padding: 5px;
}

  /*MEDIA*/
  @media screen and (max-width: 1024px)  {
    .nav-side-menu {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
    }
    body {
      background: #181c20;
    }
    #housePlan, div.circle-text {  
      display: none;
    }
  }
  
  @media screen and (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
      display: block;
    }
  }
 

